# =============== #
# Unity generated #
# =============== #
Temp/
temp/
Obj/
obj/
UnityGenerated/
Library/
Logs/
UserSettings/
MemoryCaptures/
Recordings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
.vscode/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.tmp
*.stacktrace

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.apk
